.head > div{
	padding:10px;
	text-align:center;
	font-size:30px;
	font-family: 'Poppins', sans-serif;
	width:8%;
	display: flex;
	align-items:center;
	justify-content: center;
}
.head > a{
	padding:10px;
	text-align:center;
	font-size:20px;
	font-family: 'Poppins', sans-serif;
	width:8%;
	display: flex;
	align-items:center;
	justify-content: center;
	font-weight:200;
}
html,body{
	height:100%;
	top:0;
}
a:link, a:visited{
	text-decoration:none;
	color:black;
	border:0px solid;
	padding:10px;
}
a:hover, a:active{
	background-color: black;
	color:#FFDF00;
}
#button{
	margin-left: auto;
	margin-right: auto;
	width:150px;
	height:50px;
}
button{
	width:150px;
	height:50px;
	background: #FFDF00;
	border-radius: 50px;
	font-family: 'Poppins', sans-serif;
	font-size:20px;
	text-align: center;
}
.mem1 >img{
	border:0px solid;
	border-radius: 50px;
}
.mem2 > img{
	border:0px solid;
	border-radius: 50px;
}
.mem3 > img{
	border:0px solid;
	border-radius: 50px;
}