.pcontainer{
	display:grid;
	grid-template-columns: 1fr 4fr;
	grid-template-rows: 100px 500px 100px;
}
.pheader{
	grid-column-start: 2;
	grid-column-end: 3;
	display:flex;
	font-size: 20px;
	background-color: rgb(255,255,255,0.5);
	color: black;
	text-align: center;
	justify-content: center;
	align-items: center;
}
a{
	padding:10px;
	text-align:center;
	font-size:20px;
	display: flex;
	align-items:center;
	justify-content: center;
	font-weight:500;
	color:grey;
}
html,body{
	height:100%;
	top:0;
	font-family: 'Poppins', sans-serif;
	background-color: white;
	background-image: url("../images/profileb.png");
}
a:link, a:visited{
	text-decoration:none;
	border-radius: 5%;;
	border:0px solid;
	padding:10px;
}
a:hover, a:active{
	color:black;
	border-bottom: 2px solid black;
	border-top: 2px solid black;
}
#logo{
    flex:6;
    text-align: left;
	vertical-align: middle;
	font-size: 30px;
}
#about{
    flex: 1;
}
#sign{
    flex:1;
}
.pmenu{
	grid-row-start: 1;
	grid-row-end: -1;
	display:flex;
	flex-direction: column;
	font-size: 20px;
}
.pmenu > img{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}
.pcontent{
	border-radius: 6%;
	width: 98%;
	margin-right:2%;
	background-color: rgb(255,223,0,0.6);
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.content3{
	margin-left:80px;
	width: 40%;
	padding-top: 20px;
	padding-bottom: 20px;
	height:80%;
	background-color: white;
	color:black;
	border-radius: 2%;
	text-align: center;
}
.deets{
	font-size: 25px;
	margin-left:20px;
	text-align:left;
}
.userimg > img{
	border-radius: 50%;
	border-color:black;
	border:2px solid black;
	width:200px;
	height:200px;
}
.content4{
	margin-left:20px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}
.content5{
	padding-top: 20px;
	font-size: 25px;
	padding-bottom: 20px;
	margin-bottom:10px;
	margin-right:80px;
	background-color: white;
	color:black;
	border-radius: 2%;
	text-align: center;
	padding:20px;
}
table{
	border:0px;
}
#trybb{
	border-bottom: 2px solid black;
}