{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>GiGe</title>
	    <link rel="stylesheet" href="{% static '/css/home.css' %}">
        <script src="https://kit.fontawesome.com/bc6f27e589.js" crossorigin="anonymous"></script>
	    <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="{% static '/css/messages.css' %}">
	    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static '/css/product.css' %}">
        <link rel="stylesheet" href="{% static '/css/category.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="icon" href="{% static '/images/Frame.png' %}" type="image">
        <!-- <script type="text/javascript" src="product.js"></script> -->
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            $(document).ready(function(){
                $(".s-new").slideToggle("fast");
                $("#cat").hover(function(){
                    $("#cat").css('cursor','pointer');
                })
                $("#cat").click(function(){
                    $(".s-new").slideToggle("slow");
                });
            });
        </script>
    </head>
    <body>
        <nav class="head">
			<div style="background-color: black;" id="logo"><img src="{% static '/images/Frame.png' %}" width="75px" height="75px"></div>
            <div id = "cat"><i class="fas fa-filter"></i>Categories</div>
            <form class="search" action="{% url 'itemSearch' %}" method="get">
                <input type="text" name="search" placeholder="Find Goods and Services in your Campus">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
			<a class="about" href="{% url 'give' %}">Switch To Give</a>
            <a href="{% url 'getOrders' %}"><i class="fas fa-boxes"></i>Orders</a>
			<a class="sign" style="font-size: 20px; padding: 15px; margin: 0px" href="{% url 'profile' %}"><i class="fa fa-user-circle"></i></a>
            <a class="sign" style="font-size: 20px; padding: 15px; margin: 0px" href="{% url 'logout' %}"><i class="fas fa-sign-in-alt"></i></a>
		</nav>
        <div class="s-new">
            <a href="{% url 'categoryView' 'Electronic' %}" class="about cat-sel">Electronics</a>
            <a href="{% url 'categoryView' 'Books' %}" class="about cat-sel">Books</a>
            <a href="{% url 'categoryView' 'General' %}" class="about cat-sel">General</a>
        </div>
        <div class="user-slide">
            <div id="1">
                <img id="up_img" style="width: 100%;object-fit: contain;" height="300px" src="{% static '/images/getcycle.jpg' %}">
            </div>
        </div>
        {% for category,item_set in items.items %}
            <div class = "items-disp">
                <div class="cat-disp">
                    <p>{{ category }}</p>
                    <a href="{% url 'categoryView' category %}" style="color: white;" id="righter">See More</a>
                </div>
                <div class="item-box">
                    {% for item in item_set %}
                        <div class="item-box-1">
                            <img id="main-img" src="/media/{{ item.item_pic }}" width="250px" height="200px">
                            <div id="p-hide">
                                <img id="sec-img" src="/media/{{ item.owner.profile.profile_pic }}" width="20px" height="20px" style="margin-right:3px">
                                {{item.name}}
                            </div>
                            <table>
                                <tr>
                                    <td>{{item.price}}</td>
                                    <td>{{item.days}} Days</td>
                                </tr>
                            </table>
                            <a href="{% url 'itemView' item.id %}" id="p-a">GET</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        
        <div class="footer">
			<div class="footer-container">
				<div class="comp">
					<p>Company</p>
					<p>Team</p>
					<p>History</p>
					<p>Contact us</p>
					<p>Locations</p>
				</div>
				<div class="features">
					<p>Features</p>
					<p>Cool Stuff</p>
					<p>GitHub</p>
				</div>
				<div class="Legal">
					<p>Privacy Policy</p>
					<p>Terms Of Use</p>
				</div>
			</div>
			<div class="git">
				<img src="{% static '/images/Vector.png' %}">
				<img src="{% static '/images/Vector (1).png' %}">
				<img src="{% static '/images/Vector (4).png' %}">
				<img src="{% static '/images/Vector (3).png' %}">
		</div>
	</div>
    <div id="mess">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
        <script>
            var sources = ["{% static '/images/getcycle.jpg' %}","{% static '/images/vit.jpeg' %}","{% static '/images/getcomp.jpg' %}"];
            var i = 1;
            setInterval(function(){
                document.getElementById("up_img").src = sources[i%3];
                i = i+1;
            },5000);
            document.getElementById("mess").style.display = "block";
                setTimeout(function(){
                    document.getElementById("mess").style.display = "none";
                },3000);
        </script>
    </body>
</html>