{% load static %}

<!DOCTYPE HTML>
<html>
    <head>
        <title>GIVE Mode</title>
        <link href="{% static '/css/signup.css' %}" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="{% static '/css/give.css' %}" rel="stylesheet">
        <link rel="icon" href="{% static '/images/Frame.png' %}" type="image">
        <link rel="stylesheet" href="{% static '/css/messages.css' %}">
	    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://kit.fontawesome.com/bc6f27e589.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="cont-main">
            <div class="user-nav">
                <p id="txt">Your Products</p>
                <a class="rem" href="{% url 'get' %}">Switch to GET</a>
                <a class="rem" href="{% url 'profile' %}"><i class="fa fa-user"></i></a>
            </div>
            <div id="logo">
                <img src="{% static '/images/Frame.png' %}"height="100px" width="100px" >
            </div>
            <div class="user-body">
                <div class="container-1">
                    <div class="cont-item-1">
                        <h2 id="task-head">To Do List</h2>
                        <div class="item">
                            <form method="post" action="{% url 'Todoadd' %}">
                                {% csrf_token %}
                                <i class="fas fa-plus-square"></i><input type="text" placeholder="Add New Task" name="new-task"><input style="float: right;" value="Add" type="submit">
                            </form>
                        </div>
                        {% for task in todolist %}
                            <div class="item">
                                <section>
                                <i class="fas fa-tasks"></i><p id="task-des">{{task.heading}}</p><a id="h-non" style="float: right;padding-top:4px;height: 20px;margin-right: 15px;" href = "{% url 'Tododelete' task.id %}"><i class="far fa-check-square"></i></a>
                            </section>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="cont-item-2">
                        <h2 id="task-head">Add New Give</h2>
                        <a id="img-hov" href="add/"><img src="{% static '/images/add.png' %}" width="200px" height="200px" style="margin-left: 40px;margin-bottom: 15px;"></a>
                    </div>
                </div>
            </div>
            <div class="user-body-2">
                <h2 id="task-head">Active GIVES</h2>
                {% for item in items %}
                    <div class="item-box">
                        <img id="main-img" src="/media/{{ item.item_pic }}" width="250px" height="200px">
                        <div id="p-hide">
                            <img id="sec-img" src="/media/{{ item.owner.profile.profile_pic }}" width="20px" height="20px" style="margin-right:3px">
                            {{item.name}}</div>
                        <a href="edit/{{item.id}}/" id="p-a">See More</a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div id="mess">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <script>
            document.getElementById("mess").style.display = "block";
                setTimeout(function(){
                    document.getElementById("mess").style.display = "none";
                },3000);
        </script>
    </body>
</html>