{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static '/css/signup.css' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="whole">
		<div class="container">
			<div class="child1">
				<h1>Login</h1>
                    <p style="font-size: 40px;">Good to see you again</p>
			</div>
			<div class="child">
				<form method="post" action="login">
					{% csrf_token %}

					<div class="aligner">
						<p style="color: black;font-size: 40px;">We just need a few details</p><br>
						<input type="text" id="username" name="username" required placeholder="User Name">
						<input type="password" id="password" name="password" required placeholder="Password">
						<input type="submit">
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>