<!DOCTYPE html>
<html>
    <head>
        <title>GiGe</title>
	    <link rel="stylesheet" href="../css/home.css">
        <script src="https://kit.fontawesome.com/bc6f27e589.js" crossorigin="anonymous"></script>
	    <link rel="preconnect" href="https://fonts.gstatic.com">
	    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../css/product.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="icon" href="../images/Frame.png" type="image">
        <!-- <script type="text/javascript" src="product.js"></script> -->
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <nav class="head">
			<div id="logo">GiGe</div>
            <form class="search" action="" method="GET">
                <input type="text" name="search" placeholder="Find Goods and Services in your Campus">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
			<a class="about" href="#ques">Switch To Give</a>
            <a class="sign" href="wallet"><i class="fas fa-wallet"></i></a>
			<a class="sign" href="login.html"><i class="fa fa-user-circle"></i></a>
            <a class="sign" href="#dropdown?"><i class="fa fa-bars"></i></a>
		</nav>
        <div class="s-new">
            <a href="#" class="about cat-sel">Electronics</a>
            <a href="#" class="about cat-sel">Sports</a>
            <a href="#" class="about cat-sel">Academics</a>
            <a href="#" class="about cat-sel">Daily Needs</a>
        </div>
        <div class="user-slide">
            <div id="1">
                <img id="up_img" style="width: 100%;" height="300px" src="../images/Frame.png">
            </div>
        </div>
        <div class = "items-disp">
            <div class="cat-disp">
                <p>Electronics</p>
                <a href="" id="righter">See More</a>
            </div>
            <div class="item-box">
                <div class="item-box-1">
                    <img src = "../images/headphone.jpg">
                    <img id="user" src = "../images/aadi_260x261.jpeg"><h3>Headphones</h3><br>
                    <h5>500 for 5 Days</h5>
                    <a style="float: right;" href="">GET</a>
                </div>
                <div class="item-box-1">
                    <img src = "../images/cricket.jpg">
                    <img id="user" src = "../images/aadi_260x261.jpeg"><h3>Cricket Gear</h3><br>
                    <h5>500 for 5 Days</h5>
                    <a href="#" style="float: right;" href="">GET</a>
                </div>
                <div class="item-box-1">
                    <img src = "../images/cycle.jpg">
                    <img id="user" src = "../images/aadi_260x261.jpeg"><h3>Cycle</h3><br>
                    <h5>500 for 5 Days</h5>
                    <a style="float: right;" href="">GET</a>
                </div>
                <div class="item-box-1">
                    <img src = "../images/notes.jfif">
                    <img id="user" src = "../images/aadi_260x261.jpeg"><h3>Notes</h3><br>
                    <h5>500 for 5 Days</h5>
                    <a style="float: right;" href="">GET</a>
                </div>
            </div>
        </div>
        <div class = "items-disp">
            <div class="cat-disp">
                <p>Electronics</p>
                <a href="" id="righter">See More</a>
            </div>
            <div class="item-box">
                <div class="item-box-1">
                    <img src = "../images/headphone.jpg">
                    <img id="user" src = "../images/aadi_260x261.jpeg"><h3>Headphones</h3><br>
                    <h5>500 for 5 Days</h5>
                    <a style="float: right;" href="">GET</a>
                </div>
                <div class="item-box-1">
                    <img src = "../images/cricket.jpg">
                    <img id="user" src = "../images/aadi_260x261.jpeg"><h3>Cricket Gear</h3><br>
                    <h5>500 for 5 Days</h5>
                    <a style="float: right;" href="">GET</a>
                </div>
                <div class="item-box-1">
                    <img src = "../images/cycle.jpg">
                    <img id="user" src = "../images/aadi_260x261.jpeg"><h3>Cycle</h3><br>
                    <h5>500 for 5 Days</h5>
                    <a style="float: right;" href="">GET</a>
                </div>
                <div class="item-box-1">
                    <img src = "../images/notes.jfif">
                    <img id="user" src = "../images/aadi_260x261.jpeg"><h3>Notes</h3><br>
                    <h5>500 for 5 Days</h5>
                    <a style="float: right;" href="">GET</a>
                </div>
            </div>
        </div>
        <div class="footer">
			<div class="footer-container">
				<div class="comp">
					<p>Company</p>
					<p>Team</p>
					<p>History</p>
					<p>Contact us</p>
					<p>Locations</p>
				</div>
				<div class="features">
					<p>Features</p>
					<p>Cool Stuff</p>
					<p>GitHub</p>
				</div>
				<div class="Legal">
					<p>Privacy Policy</p>
					<p>Terms Of Use</p>
				</div>
			</div>
			<div class="git">
				<img src="../images/Vector.png">
				<img src="../images/Vector (1).png">
				<img src="../images/Vector (4).png">
				<img src="../images/Vector (3).png">
		</div>
	</div>
        <script>
            var sources = ["../images/features 2.png","../images/Frame.png"];
            var i = 0;
            setInterval(function(){
                document.getElementById("up_img").src = sources[i%2];
                i = i+1;
            },5000);
        </script>
    </body>
</html>