{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>GiGe</title>
        <link rel="stylesheet" href="{% static '/css/home.css' %}">
        <script src="https://kit.fontawesome.com/bc6f27e589.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="{% static '/css/give.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static '/css/product.css' %}">
        <link rel="stylesheet" href="{% static '/css/category.css' %}">
        <link rel="stylesheet" href="{% static '/css/messages.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="icon" href="{% static '/images/Frame.png' %}" type="image">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <nav class="head">
			<div id="logo"><img src="{% static '/images/Frame.png' %}" height="75px" width="75px"></div>
            <button  onclick="back()" id = "cat"><i class="fas fa-home"></i>HOME</button>
            <form class="search" action="" method="GET">
                <input type="text" name="search" placeholder="Search In Category...">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
			<a class="about" href="#ques">Switch To Give</a>
            <a href="{% url 'getOrders' %}"><i class="fas fa-boxes"></i></a>
			<a class="sign" href="login.html"><i class="fa fa-user-circle"></i></a>
            <a class="sign" href="{% url 'logout' %}"><i class="fa fa-bars"></i></a>
		</nav>
        <div class = "cat-cont">
            <!--if exists-->
            {% if items|length > 0 %}
                <h2>Search Results</h2>
                <!--else <h2>No Results Found</h2>-->
                <div class = "item-all">
                    {% for item in items %}
                        <div class="item-box-1">
                            <img id="main-img" src="/media/{{ item.item_pic }}" width="250px" height="200px">
                            <div id="p-hide">
                                <img id="sec-img" src="/media/{{ item.owner.profile.profile_pic }}" width="20px" height="20px" style="margin-right:3px">
                                {{item.name}}
                            </div>
                            <table>
                                <tr>
                                    <td>{{item.price}}</td>
                                    <td>{{item.days}} Days</td>
                                </tr>
                            </table>
                            <a href="{% url 'itemView' item.id %}" id="p-a">GET</a>
                        </div>  
                    {% endfor %}         
                </div>
            {% else %}
                <h2>No Results Found</h2>
            {% endif %}
        </div>
        <div class="footer">
			<div class="footer-container">
				<div class="comp">
					<p>Company</p>
					<p>Team</p>
					<p>History</p>
					<p>Contact us</p>
					<p>Locations</p>
				</div>
				<div class="features">
					<p>Features</p>
					<p>Cool Stuff</p>
					<p>GitHub</p>
				</div>
				<div class="Legal">
					<p>Privacy Policy</p>
					<p>Terms Of Use</p>
				</div>
			</div>
			<div class="git">
				<img src="{% static '/images/Vector.png' %}">
				<img src="{% static '/images/Vector (1).png' %}">
				<img src="{% static '/images/Vector (4).png' %}">
				<img src="{% static '/images/Vector (3).png' %}">
		    </div>
	    </div>
        <div id="mess">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <script>
            const back = () =>{
                window.history.back();
            }
            document.getElementById("mess").style.display = "block";
                setTimeout(function(){
                    document.getElementById("mess").style.display = "none";
                },3000);
        </script>
    </body>
</html>