{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Sign Up</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
	    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static '/css/messages.css' %}">
	    <link rel="stylesheet" href="{% static '/css/signup.css' %}">
        <link rel="stylesheet" href="{% static '/css/homebasic.css' %}">
        <link rel="stylesheet" href="{% static '/css/messages.css' %}">
        <link rel="stylesheet" href="{% static '/css/home.css' %}">
        <script src="https://kit.fontawesome.com/bc6f27e589.js" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            #img-af{
                border-radius: 50%;
                border: 2px solid black;
                margin-bottom: 10px;
            }
            #lab-bef{
                color: black;
                margin-top: 15px;
                font-size: 15px;
                margin-top: 5px;
            }
            .head{
                background-color: black;
                color:#FFDF00;
            }
            .head > a{
                color:#FFDF00;
            }
            .head > a:hover{
                background-color:#FFDF00;
                color:black;
                border-bottom:2px solid black;
                border-top: 2px solid black;
            }
        </style>
    </head>
    <body>
        <div class="full">
            <nav class="head">
                <div id="logo">GiGe</div>
                <a id="about" href="{% url 'welcome' %}">About</a>
                <a id="sign" href="{% url 'login' %}">Login</a>
            </nav>
        </div>
        <div class="whole">
            <div class="container">
                <div class="child1">
                    <h1>Join Us</h1>
                    <p>Share and Earn</p>
                    <p style="font-size: 40px;">On your Campus</p>
                </div>
                <div class="child">
                    <form id="val-for" onsubmit = "return formchk()" action="{% url 'register' %}" method="post">
                        {% csrf_token %}

                        <div class="aligner">
                            <input type="text" id="fname" name="first_name" required placeholder="First Name">
                            <input type="text" id="lname" name="last_name" required placeholder="Last Name">
                            <input type="text" id="username" name="username" required placeholder="User Name">
                            <input type="password" id="pass1" name="password1" required placeholder="Password">
                            <input type="password" id="pass2" name="password2" required placeholder="Confirm Password">
                            <input type="email" id="email" name="email" required placeholder="Email address">
                            <input type="num" id="pno" name="phone_number" required placeholder="Phone Number">
                            <label id="lab-bef" style="color: black;" for="avatar"><i class="fas fa-images"></i>Add Image</label>
                            <input required type="file" id="avatar" style="display: none;" onchange="dispimg(event)" name="profile_pic"accept="image/png, image/jpeg">
                            <img src="" id="img-af" width="50px" height="50px" style="display: none;">
                            <button type="submit">Submit</button>
                            <div style="color: red;">
                                <p style="font-size: 15px;" id="f-val"></p>
                                <div id="mess">
                                    {% if messages %}
                                        <ul class="messages">
                                            {% for message in messages %}
                                                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script>
            var dispimg = function (event)
            {
                var disp = document.getElementById("img-af");
                var out = event.target.files[0];
                disp.style.display = "block";
                disp.src = URL.createObjectURL(out);
            };
            function formchk(){
                var u_name = document.getElementById("username").value;
                var f = document.getElementById("fname").value;
                var l = document.getElementById("lname").value;
                var pn = document.getElementById("pno").value;
                var p1 = document.getElementById("pass1").value;
                var p2 = document.getElementById("pass2").value;
                let err = document.getElementById("f-val");
                console.log(p1);
                console.log(p2);
                if(p1!==p2){
                    err.innerHTML = "Passwords Must Match";
                    return false;
                }
                if(pn.length != 10){
                    err.innerHTML = "Phone Number Must be 10 Digits";
                    return false;
                }
                if((!(/[a-zA-Z]/.test(u_name))))
                {
                    err.innerHTML = "Username does not contain alphabets";
                    return false;
                }
                if((!(/[0-9]/.test(u_name))))
                {
                    err.innerHTML = "Username does not contain numbers";
                    return false;
                }
                if((!(/^[a-zA-Z]+$/.test(f))) || (f.length==0))
                {
                    err.innerHTML = "First Name should only contain alphabets";
                    return false;
                }
                if((!(/^[a-zA-Z]+$/.test(l))) || (l.length==0))
                {
                    err.innerHTML = "Last Name should only contain alphabets";
                    return false;
                }
                if((!(/[a-zA-Z0-9]/.test(p1))) || (p1.length <=8)){
                    err.innerHTML = "Password length must be grater than 8";
                    return false;
                }
                return true;
            };
            document.getElementById("mess").style.display = "block";
                setTimeout(function(){
                    document.getElementById("mess").style.display = "none";
                },3000);
        </script>
    </body>
</html>