<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>

<body>
    <form action="register">
        <h1>To register press</h1>
        <input type="Submit">   
    </form>

    <form action="login">
        <h1>To login press</h1>
        <input type="Submit">   
    </form>
</body>

</html>