.head{
    box-shadow: 0 10px 10px -10px #000000;
    width:100%;
}
#cat{
    flex: 1;
    font-size: 20px;
    font-weight: 600;
}
.head > div{
	padding:10px;
	text-align:center;
	font-size:30px;
	font-family: 'Poppins', sans-serif;
	width:8%;
	display: flex;
	align-items:center;
	justify-content: center;
    font-weight: 500;
}
.head > a{
    border:2px solid black;
	padding:10px;
	text-align:center;
	font-size:20px;
	font-family: 'Poppins', sans-serif;
	width:8%;
	display: flex;
	align-items:center;
	justify-content: center;
	font-weight:700;
}
html,body{
	height:100%;
	top:0;
    font-family: 'Poppins', sans-serif;
}
a:link, a:visited{
	text-decoration:none;
	color:black;
	border:0px solid;
	padding:10px;
}
a:hover, a:active{
	background-color: black;
	color:#FFDF00;
}
#logo{
    flex:1;
    font-weight: 900;
    font-size: 40px;
    float:left;
}
.search{
    flex:3;
    height: 40px;
}
.about{
    flex:1;
    font-weight: 700;
    border:2px solid black;
}
.sign{
    flex-basis: 20px;
    margin:5px;
}
.search > input{
    width: 70%;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    float: left;
    height: 40px;
    border:0px;
    border-bottom:2px solid black;
}
.search > input:focus{
    outline: none;
    border:0 solid;
    border-bottom: 2px solid black;
}
.head{
    justify-content: center;
    align-items: center;
}
button{
    float: left;
    width:20%;
    height:44px;
    background-color: black;
    color:#FFDF00;
    border:0px;
}
button:hover{
    background-color: rgb(26, 26, 26);
}
.user-slide{
    margin-top:"15px";
}
@keyframes fade {
    from{opacity: .7;}
    to{opacity: 1;}
}
.user-slide{
    margin-top: 10px;
    width:80%;
    margin-left: auto;
    margin-right: auto;
}
.user-slide > div{
    animation-name: fade;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.items-disp{
    margin-top: 50px;
    width:80%;
    margin-left: auto;
    margin-right: auto;
}
.cat-disp{
    background-color: black;
    color: white;
    width:100%;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins';
    align-items: center;
    box-shadow: 0 10px 10px -10px #000000;
    margin-bottom: 15px;
}
.cat-disp > p{
    font-size: 20px;
    font-weight: 900;
    margin-left: 10px;
}
.item-box{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.item-box-1{
    display: inline-block;
    box-shadow: 2px 2px 2px 2px;
    width: 250px;
    height: 350px;
    margin: 40px;
    font-size: 20px;
}
.item-box-1 {
    position: relative;
  }
.item-box-1:after {
    content: '';
    display: block;
    border-bottom: 3px solid black;
    width: 0;
    position: absolute;
    right: 0;
    -webkit-transition: 1s ease;
    transition: 1s ease;
  }
.cat-disp > a{
    color: #FFDF00;
}
.item-box-1:hover:after {
   width: 100%;
  }
.item-box-1 > img{
    height: 200px;
    width:100%;
}
.item-box-1 > h3{
    font-weight: 700;
    font-size: 25px;
    margin:0;
    display: inline-block;
}
.item-box-1 > h5{
    margin:0;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    display: inline-block;
}
#user{
    margin-right: 5px;
    margin-left: 5px;
    width:25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid black;
}
.footer{
    margin-top: 50px;
	background-color: #FFDF00;
}
.footer-container{
	display:flex;
	font-family:'Poppins', sans-serif;
	font-size:20px;
	justify-content: space-around;
}
.git{
	width:20%;
	margin-left: auto;
	margin-right: auto;
}
.git img{
	padding:0px 10px;
}
.s-new{
    text-align: center;
    border-top: 2px solid black;
    background-color: black;
    color: #FFDF00;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
}
.s-new > a{
    color: #FFDF00;
    border-left: 2px solid #FFDF00;
    border-right: 2px solid #FFDF00;
}
.cat-sel{
    position: relative;
  }
.cat-sel:after {
    content: '';
    display: block;
    border-bottom: 3px solid #FFDF00;
    width: 0;
    position: absolute;
    right: 0;
    -webkit-transition: 1s ease;
    transition: 1s ease;
  }
.cat-sel:hover:after {
   width: 100%;
  }
  #p-hide{
    margin-top: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#main-img{
    display: block;
}
#sec-img{
    margin-left: 10px;
    border-radius: 50%;
    border: 2px solid;
}
#tex-set{
    text-overflow: ellipsis;
    height: 20px;
}
#p-a{
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    background-color: #FFDF00;
    color: black;
    font-family: 'Poppins',sans-serif;
    border-radius: 5px;
    margin-bottom: 10px;
}